@import url(./variables.css);
@import url(./kr.css);

body {
  margin: 0;
  font-family: -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: var(--background);
}