@use "app.scss";

body {
    --list-addition-bg: linear-gradient(270deg, #FFFFFF 75%, rgba(255, 255, 255, 0) 100%);
    --list-hover-bg: #D8EAFF;
    --list-btn-fill: #B4B4B4;
    --list-btn-hover-fill: #A3A3A3;

    --textfield-bg: #F1F3F4;
    --textfield-text: rgba(0,0,0,0.35);
    --textfield-text-focus: rgba(0,0,0,0.8);
    --textfield-outline-focus:  #a9c3f7;
    --textfield-icon: #686a6e;
    
    font-size: 14px;
    width: 340px;
    max-height: 450px;

    &.empty {
        height: 300px;
    }
}

.list-group {
    padding: 16px 0;
}

.tab-list {
    width: 100%;
    position: relative;
    overflow: hidden;

    &:hover {
        background: var(--list-hover-bg);
    }
}

.textfield {
    position: relative;
    width: 100%;
    padding: 0 16px;
    margin-top: 16px;
    height: 28px;
}

.textfield__input {
    font-size: 14px;
    color: var(--textfield-text);
    background: var(--textfield-bg);
    width: 100%;
    height: 100%;
    border-radius: 22px;
    border: 0;
    padding-left: 36px;
    text-overflow: ellipsis;

    &:focus {
        background: var(--bg);
        color: var(--textfield-text-focus);
        text-overflow: clip;
        outline: none;
        box-shadow: 0 0 0 2px var(--textfield-outline-focus);
    }
}

.textfield__leading-icon {
    width: 20px;
    position: absolute;
    top: 0;
    left: 24px;
    bottom: 0;
    display: flex;
    align-items: center;

    svg path {
        fill: var(--textfield-icon);
    }
}

.empty .textfield {
    display: none;
}

.empty-state {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    position: relative;
    top: 45%;
    
    transform: translateY(-45%);
    text-align: center;

    .empty & {
        display: flex;
    }

    &__title {
        color: var(--primary);
        font-size: 14px;
        margin: 6px 0;
    }

    &__desc {
        color: var(--secondary);
        font-size: 12px;
    }
}


@media (prefers-color-scheme: dark) {
    body {
        --list-addition-bg: linear-gradient(270deg, #292A2D 75%, rgba(0, 0, 0, 0) 100%);
        --list-hover-bg: #323542;

        --textfield-bg: #202124;
        --textfield-text: rgba(255,255,255,0.45);
        --textfield-text-focus: rgba(255,255,255,0.8);
        --textfield-outline-focus: #396286;
    }
}